:root {
  --topbarclr: linear-gradient(to right, #FA4228, #E60F0C);
  --btncolor: linear-gradient(to right, #FF8701, #F0B81E);
  --logofont: asul;
  --reg-font: system-ui;
}

.App {
  text-align: center;
}
